/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mrt-2020, 22:41:33
    Author     : Mike
*/

.jfx-button{
    -fx-background-color: #0288D1;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #689F38;
}